@import "tailwindcss";

:root {
  --background: #FBFBF4;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* custom colors */
  --color-text-black: #0c0d0d;
  --color-text-light-gray: #3C3C3C;
  --color-text-gray: #676868;
  --color-hr: #D4D4D4;
  --color-miau-green: #1B998B;
  --color-miau-light-green: #2bb5a6;
  --color-miau-orange: #FF8552;
  --color-miau-gray: #D9D9D9;
  --color-miau-purple: #C09BD8;
  --color-input-bd: #D4D4D4;
  --color-weak-purple: #F2F2F2;

  --breakpoint-sssm: 370px;
  --breakpoint-ssm: 460px;
  --breakpoint-xsm: 580px;
  --breakpoint-plg: 910px;
  --breakpoint-mxl: 1136px;
  --breakpoint-glg: 1200px;
  --breakpoint-lxl: 1360px;
  --breakpoint-xxl: 1420px;
  --breakpoint-3xl: 1680px;

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Fredoka", sans-serif;
}
